**/.tmp/
**/glob-manifest.json
**/tsconfig.json
**/package.json
**/coverage/
**/dist/
statics/
node_modules/
.idea
npm-debug.log
.vscode
/SOURCE/
*.less.d.ts
tslint.json
tsconfig.json
tsconfig.build.json
package.json
package-lock.json
build
